modules = ["python-3.11", "web"]
run = "python app.py"

[nix]
channel = "stable-24_05"
packages = ["cargo", "libiconv", "rustc"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python app.py"]
deploymentTarget = "cloudrun"
